<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/14f67ef9ae.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="navbar">
  <nav>
    <img src="/images/PINS_BIG.png" alt="">
    <a href="/signup" class="upbtn">Sign up</a>
  </nav>
  </div>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Welcome to Pinterest</p> 

      <% if (error.length > 0) { %>
        <p class="error"><%= error %></p>
      <% } %>
     

      <form action="/login" method="post">
  
        <label for="username" style="float: left; padding-left: 10px; font-size: 14px;">Username</label>
        <input type="text" placeholder="Username" name="username" class="detail" id="username"/><br />
  
        <label for="password" style="float: left; padding-left: 10px; font-size: 14px;">Password</label><br />
        <input type="password" placeholder="Password" name="password" class="detail" id="password"/>

        <input type="submit" class="btn int" value="Log In">

      </form>

      <h4>Forgotten your password?</h4>

      
      <p class="or">OR</p>
      <button class="btn fbk">
        <i
          class="fab fa-facebook fa-lg"
          style="color: white; padding-right: 10px"
        ></i
        ><a href="#">Continue with Facebook</a></button
      ><br />
      <button class="btn ggl">
        <i
          class=" google-logo fab fa-google"
          style="padding-right: 25px"
        ></i
        ><a href="#">Continue with Google</a>
      </button>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Not on Pinterest yet? <a href="/signup">Sign up</a></p>
      </footer>
    </div>
  </div>
  

</body>
</html>